{% block title %}
Authors
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все авторы: {{ authors|length }}</h1>
<h3>Today {{ time_now|date:'d M Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты.
    С его помощью мы можем выводить дату в нужном нам формате -->

        <table>
            <tr>
                <td>
                    Автор
                </td>
                <td>
                    Рейтинг
                </td>
            </tr>
        {% for author in authors %}
        <tr>
            <td>
                <a href="{% url 'author_detail' author.id %}">{{ author.author|truncatechars:30|censor }}</a> <!-- При нажатии на имя товара в таблцие нас теперь будет перекидывать на страницу с самого товара -->
                <a href="{% url 'author_edit' author.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

                <a href="{% url 'author_delete' author.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </td>
            <td>
                {{ author.rating_author }}
            </td>
        </tr>
        {% endfor %}
        </table>

{% endblock content %}