<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}

<h1>{{ new.header_post|censor }}</h1>

<hr>
  <p align="justify">{{ new.text_post|censor }}</p>
<hr>

<h4 align="right">Дата публикации: {{ new.date_post|date:'d M Y h:m' }}</h4>

{% endblock content %}