<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости: {{ news|length }}</h1>
<h3>Today {{ time_now|date:'d M Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты.
    С его помощью мы можем выводить дату в нужном нам формате -->

{% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Текст статьи
                </td>
            </tr>
        {% for new in news %}
        <tr>
            <td>
                <a href="{% url 'post_detail' new.id %}">{{ new.header_post|truncatechars:30|censor }}</a> <!-- При нажатии на имя товара в таблцие нас теперь будет перекидывать на страницу с самого товара -->
                <a href="{% url 'post_edit' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

                <a href="{% url 'post_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </td>
            <td>
                {{ new.date_post|date:'d M Y h:m' }}
            </td>
            <td>
                <p align="justify"> {{ new.text_post|truncatechars:50|censor }} <p/>
            </td>
        </tr>
        {% endfor %}
        </table>

        <a href="{% url 'post_add' %}">Добавить новый пост</a> <br>

        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a href="?page=1"> First </a>
                <a href="?page={{ page_obj.previous_page_number }}"> <<< </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}"> {{ num }} </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> >>> </a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
            {% endif %}
        {% endif %}
<br>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}