{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Authors
{% endblock title %}

{% block content %}
<h2>Авторы</h2>
{% load cache %} <!-- Загружаем кэширование -->
    {% cache 30 header %} <!-- Кэшируем отдельный блок на 30 секунд -->
        {% block header %}
            <h3>Всего на странице: {{ authors|length }} </h3>
            <hr>
        {% endblock header %}
    {% endcache %}

    {% if authors %}
        <table>
            <tr>
                <td>
                    Имя
                      <hr>
                </td>
                <td>
                    Рейтинг
                      <hr>
                </td>
            </tr>
            {% for author in authors %}
            <tr>
                <td>
                    {{ author.user.username}}
                </td>
                <td>
                    {{ author.rating_of_author}}
                </td>
            </tr>
            {% endfor %}
        </table>


{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

    {% else %}
        <h3>Пользователей нет</h3>
    {% endif %}


{% endblock content %}