{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Delete News
{% endblock title %}


{% block content %}
<h2> Удалить новость </h2>
<hr>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Контент
        </th>
    </thead>
    <tr>
        <td>
            {{ post.headline | censor}}
        </td>
        <td>
            {{ post.post_time | date:'d-M-Y'}}
        </td>
        <td>
            {{ post.content }}
        </td>

    </tr>
</table>

<hr>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    Вы уверены, что хотите удалить новость?: <input type="submit" value="Да">

</form>

<hr>
 <a href="/news/">Вернуться на страницу со всеми новостями</a>
<hr>
{% endblock content %}